.header {
  background-color: rgb(154, 130, 177);
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: 5px 10px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  height: 10%;
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 20px !important;
    align-self: center;
  }
}
